.container .card {
  /*background: red;*/
  border: 2px solid black;
  width: 320px;
  height: 230px;
  margin-bottom: 10px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  border-radius: 0.5rem;
  position: relative;
}

.container {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  text-align: center;
}

.titlereview {
  text-align: center;
}

.title-card {
  color: white;
}

/*carrousel*/
.carousel {
  height: 500px;
  margin-left: 15%;
  margin-right: 15%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide-image .box img {
  width: 200px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;

  height: 200px;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;

}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6 {
  opacity: 1;
}

input:checked+.slide-container .nav label {
  display: block;
}

/**/
.imgcard {
  max-width: 100%;
  height: auto;
}

.card {
  text-align: center;
  display: block;
}



.container .card div {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: -200%;
  left: -15px;
  height: 230px;
  width: 320px;
  text-align: center;
  background: rgba(0, 0, 0);
  padding-top: 5rem;
}

.container .card:hover .content {
  top: 0;

  display: inline-block;
  text-align: center;
}

.container .card .content p {
  font-size: 0.9rem;
  margin: 0 auto;
  width: 250px;
  color: #eee;
  text-align: center;
}

.container .card .content h3 {
  font-size: 1.5rem;
  color: #eee;
  text-align: center;
}

/*contenido de carrousel*/
.slide-image .box {
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  /*border-radius: 0.5rem;*/
}

.slide-image .box img {
  height: 13rem;
  width: 13rem;
  /*border-radius: 50%;*/
  object-fit: cover;
  margin-bottom: 1rem;
}

.slide-image .box h3 {
  color: #333;
  width: 100%;
}

.slide-image .box p {
  color: #666;
  width: 100%;
}

.slide-image .box .stars i {
  color: orange;

}

/**/
.slide-image .box {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.med {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.revimage {
  margin: 0;
  padding: 0;
  align-self: center;
}

.carousel-dots {
  display: none;
}